*{
  margin: 0%;
}
.container {
  background-image: url(/images/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding-bottom: 220px;
  
}

.about {
  text-align: center;
}

.services {
  background-image: url(/images/backgrounds/s_image.jpg);
  background-position: center;
  background-size: auto;
  background-attachment: scroll;
  color: white;
  text-align: center;
  padding-bottom: 220px;
  padding-top: 150px;

}